<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <form method="get" action="/graph">
                    <div class="form-group">
                        <label for="page_id_input">Input Page ID or Username</label>
                        <input type="text" name="page_id" placeholder="Page ID/Username" style="width:100%;">
                    </div>
                    <button type="submit" style="width:100%;" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <span class="label label-danger">{{{message}}}</span>
            </div>
        </div>
    </div>
</div>
